---
layout: default
title: Daily Problems
---
<h1>Daily Problems</h1>
<p>
Each problem will be turned in on its own sheet of paper with your name, the problem number, and the due date.
</p>
<p>
remember, each problem is worth three points: 3 points for a correct solution arrived at by thoughtful methodology, 2 points for an incorrect solution arrived at by a thoughtful methodology, and 1 point for a correct solution.
</p>

<table class="table table-bordered">
    <tr>
        <th scope="col"></th>
        <th scope="col">Due</th>
        <th scope="col">Strategy</th>
        <th scope="col">Problems</th>
    </tr>
    <tr>
        <th scope="row" rowspan="2">Daily Problems 1</th>
        <td rowspan="2">August 29</td>
        <td rowspan="2">Introduction</td>
        <td><strong>Soccer Game</strong> At the conclusion of a soccer game whose two teams each included 11 players, each player on the winning team "gave five" to (slapped hands with) each player on the losing team. Each player on the winning team also gave five to each <em>other</em> player on the winning team. How many fives were given?</td>
    </tr>
    <tr>
        <td><strong>Dinosaurs</strong> A mad scientist has cloned a bunch of dinosaurs. Velociraptors and Apatosaurus. One day she notices that the animals have a total of 12 heads and 32 feet. Velociraptors walk on two feet and Apatosaurus walk on four feet. How many of the dinosaurs are velociraptors and how many are apatosaurus?</td>
    </tr>
    <tr>
        <th scope="row" rowspan="2">Daily Problems 2</th>
        <td rowspan="2">September 10</td>
        <td rowspan="2">Draw a Diagram</td>
        <td><strong>New Railways</strong> The Transportation Department got a massive grant and wants to build a rail trolley system connecting six regional northern Minnesota towns: Bemidji, Cass Lake, Walker, Grand Rapids, Red Lake, and Duluth. There will be direct routes between each pair of towns. How many new lines of rail will be built?</td>
    </tr>
    <tr>
        <td><strong>Stone Necklace</strong> A jeweller laid out the stones for a necklace in a big circle, with each stone spaced an equal distance from its neighbors. She then counted the stones in order around the circle. Unfortunately, before she finished counting, she lost track of where she had started, but she realized that she could figure out how many stones were in the circle after she noticed that the sixth stone was directly opposite the seventeenth stone. How many stones are in the necklace?</td>
    </tr>
    <tr>
        <th scope="row" rowspan="2">Daily Problems 3</th>
        <td rowspan="2">September 12</td>
        <td rowspan="2">Draw a Diagram</td>
        <td><strong>Classic Car Race</strong> Five cars remained in contention by the end of a classic car race. The Dusenberg finished 12 seconds ahead of the Edsel. The Studebaker finished 7 seconds behind the Model T Ford. The time from when the first finisher crossed the line to the last finisher was 22 seconds. The Pierce-Arrow finished 14 seconds after the Model T Ford. The Edsel cam in third place. List the cars in the order in which they completed the race, and the times between them from first to fifth place.</td>
    </tr>
    <tr>
        <td><strong>Apartment Building</strong> You just moved into a 15 story apartment building and can never remember which floor you live on. You know that it's the first apartment on the floor, but not which floor. You start at the first floor and knock on the door. A big tatted biker says to go up 8 floors and ask someone there. The nice old lady there doesn't know, but says "Go back down 2 floors and ask Brian." Brian doesn't know anything, but says to go back up 7 floors to see the guy there who knows everyone. This guy is super creepy and appears to know everyone because he's a stalker. You can totally see pictures of everyone in the building on the walls in his living room. He says he doesn't know you yet, but that there's some new guy that lives down 12 floors and that maybe he'd know. You go down 12 floors and knock but there's no answer. And then you realize that that's because this is your apartment. What floor do you live on?</td>
    </tr>
    <tr>
        <th scope="row" rowspan="2">Daily Problems 4</th>
        <td rowspan="2">September 17</td>
        <td rowspan="2">Make a Systematic List</td>
        <td><strong>Cards and Comics</strong> Charmaign's daughter has $6.00 she wants to spend on comic books and superhero cards. Comic books cost 60&cent; each, and deluxe packages of superhero cards cost $1.20 each. List all the ways she can spend all of her money on comic books, superherow cards, or both.</td>
    </tr>
    <tr>
        <td><strong>Target Practice</strong> In a target shooting game, Spencer had four arrows. He hit the target with all four shots. With each shot, he could have scored 25 points, 10 points, 5 points, or 1 point. How many total scores are possible?</td>
    </tr>
    <tr>
        <th scope="row" rowspan="2">Daily Problems 5</th>
        <td rowspan="2">October 1</td>
        <td rowspan="2">Make a Systematic List</td>
        <td><strong>Candy Store</strong> The corner convenience store sells candy in 20, 40, and 50 cent packages. List all of the ways in which you could spend exactly $3.00 on candy.</td>
    </tr>
    <tr>
        <td><strong>Three Video Games</strong> You have six video games to play at a LAN party: Black Ops 4, Borderlands 2, Overwatch, Left for Dead 2, Vermintide 2, Guild Wars 2. You really only have time to play three of these games. How many possible combinations of three games could you play?</td>
    </tr>
</table>
