---
layout: carousel
title: Introduction
---

<div class="carousel-item active">
    <h2>Elevator</h2>
    <p>The capacity of an elevator is either 20 children or 15 adults. If 12 children are currently in the elevator, how many adults can still get in?</p>
</div>

<div class="carousel-item">
    <h2>Theater</h2>
    <p>There are eight more women than men in a theater group. The group has a total of 44 members. How many men and how many women are in the group?</p>
</div>

<div class="carousel-item">
    <h2>The Number</h2>
    <p>If you take a particular two-digit number, reverse its digits to make a second two-digit number, and add these two numbers together, their sum will be 121. What is the original number?</p>
</div>
