---
layout: carousel
title: Introduction
---

<div class="carousel-item active">
    <h2>Loose Change</h2>
    <p>I have 25&cent; in my pocket, but I do not have a quarter. If you can tell me all of the different combinations of coins that I could have that add up to 25&cent;, I'll give you the 25&cent;.</p>
</div>

<div class="carousel-item">
    <h2>Fantasy Football</h2>
    <p>You are forming a fantasy football league in which each team will play three games against each of the other teams. There are seven teams: The Anglers, the Banshees, the Crickets, the Donkeys, the Eagles, the Flames, the Griffons. How many games will be played in all?</p>
</div>
<div class="carousel-item">
    <h2>Weird Hobbies</h2>
    <p>I have 25 dimes. I like to arrange them into three piles with an odd number of dimes in each pile. How many different ways can I do this?</p>
</div>
<div class="carousel-item">
    <h2>Frisbee</h2>
    <p>You are playing a game where you throw frisbees at bins to score points. If you throw a frisbee in the largest bin, you get 1 point. The medium bin scores 5 points. The smallest scores 10 points. If you throw three frisbees and they all land in bins, how many different possible scores can you make?</p>
</div>
<div class="carousel-item">
    <h2>Area and Perimeter</h2>
    <p>A rectangle has an area measuring 120 square centimeters. Its length and width are whole numbers of centimeters. What are the possible combinations of length and width? Which possibility has the smallest perimeter?</p>
</div>
<div class="carousel-item">
    <h2>Shakespeare</h2>
    <p>For a Shakespeare course, you are to read all five of these plays: <em>Richard III</em>, <em>The Tempest</em>, <em>Macbeth</em>, <em>A Midsummer Night's Dream</em>, and <em>Othellow</em>. You are to choose three plays to write papers about. How many different possible combinations of plays can you write about?</p>
</div>
